@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.samochodyContainer{
    display: flex;
    flex-direction: column; /* optional: stack content vertically */
    align-items: center;
    justify-content: flex-start; /* let it grow from top */
    min-height: 100vh; /* at least full viewport */
    width: 100vw;
    background-color: white;
    overflow-y: auto; /* enable vertical scrolling */
    
}
.samochodyForm{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 100%; 
    
}
.coChceszZrobic{
    color: #1d1d1b;
    height: 7%;
    width: 50%;
    margin-top: 150px;
    display: flex;
    font-family: "HankenGrotesk";
    text-align: center;
    font-size: 2.5vw;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}
.coChceszZrobicButtons{
    height: 20%;
    width: 30%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.coChceszZrobicButtons button[type="button"] {
    height: 15vh;
    background-color: transparent;
    border: 4px solid #1d1d1b;
    border-radius: 15px;
    color: #1d1d1b;
    width: 10vw;
    cursor: pointer;
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 35px;
    flex-direction: column;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    transition: all 0.3s ease;
}
.coChceszZrobicButtons button[type="button"]:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.1);
}
.markamodelModal{
    width: 50%;
    height: 30vh;
    margin-top: 80px;
    
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    opacity: 0;
}
.markamodelModal.show{
    opacity: 1;
    transition: opacity 0.3s ease;
}
.markamodelModalText{
    padding: 10px;
    border: 2px solid #1d1d1b;
    height: 25%;
    width: 100%;
    color: #1d1d1b;

    background-color: white;
    display: flex;
    border-radius: 15px;
    flex-direction: row;
    font-family: "HankenGrotesk";
    text-align: center;
    font-size: 2vw;
    font-weight: 900;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 2px;
    gap: 30px;
}
.markamodelModalContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    width: 100%;
    height: 15vh;
    place-items: center;
}
.markamodelModalContent select{
    width: 70%;
    height: 7vh;
    border: none;
    background-color: transparent;
    border: 1px solid #1d1d1b;
    border-radius: 5px;
    color: #1d1d1b;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    text-align: center;
}
.markamodelModalContent select::placeholder{
    color: #1d1d1b;
}
.markamodelModalContent select:focus{

  background-color: #f0f8ff;
  outline: none; /* remove default blue outline */
  color: black;
}
.dalej{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 4vh;
    width: 5vw;
    
    background-color: #1d1d1b;
    border: 2px solid #1d1d1b;
    color: white;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.dalej2{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 4vh;
    width: 5vw;
    background-color: #1d1d1b;
    border: 2px solid #1d1d1b;
    color: white;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.dalej3{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 4vh;
    width: 5vw;
    background-color: #1d1d1b;
    border: 2px solid #1d1d1b;
    color: white;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.dalej4{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 4vh;
    width: 5vw;
    background-color: #1d1d1b;
    border: 2px solid #1d1d1b;
    color: white;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.dalej5{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 4vh;
    width: 5vw;
    background-color: #1d1d1b;
    border: 2px solid #1d1d1b;
    color: white;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.dalej:hover, .dalej2:hover, .dalej3:hover, .dalej4:hover, .dalej5:hover{
    background-color: transparent;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.kontaktZTobaText{
    padding: 10px;
    border: 2px solid #1d1d1b;
    height: 20%;
    width: 100%;
    color: #1d1d1b;
    background-color: white;
    display: flex;
    border-radius: 15px;
    flex-direction: row;
    font-family: "HankenGrotesk";
    text-align: center;
    font-size: 2vw;
    font-weight: 900;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 2px;
    gap: 30px;
}
.kontaktZTobaInput{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 25vh;
    place-items: center;
    
    
}
.kontaktZTobaInput input{
    width: 70%;
    height: 50%;
    border: none;
    background-color: transparent;
    border: 1px solid #1d1d1b;
    border-radius: 5px;
    color: #1d1d1b;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
}
.kontaktZTobaInput input::placeholder{
    color: #1d1d1b;
}
.kontaktZTobaInput select{
    width: 70%;
    height: 50%;
    border: none;
    background-color: transparent;
    border: 1px solid #1d1d1b;
    border-radius: 5px;
    color: #1d1d1b;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    text-align: center;
}
.kontaktZTobaInput select:focus{

  background-color: #f0f8ff;
  outline: none; /* remove default blue outline */
  color: black;
}
.kontaktZTobaInput input::placeholder{
    text-align: center;
    font-size: 1vw;
    font-family: 'HankenGrotesk';
}
.kontaktModal{
    width: 50%;
    height: 40vh;
    margin-top: 80px;
    opacity: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
.kontaktModal.show{
    opacity: 1;
    transition: opacity 0.3s ease;
}

.tytulModal{
    
    
    width: 50vw;
    display: flex;
    position: relative;
    height: 35vh;
    flex-direction: column;
    margin-top: 80px;
   opacity: 0;

}
.tytulModal.show{
    opacity: 1;
    transition: opacity 1s ease;
}
.tytulModalText{
    height: 8vh;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 10px;
    font-size: 1vw;
    justify-content: flex-start;
    letter-spacing: 2px;
    align-items: center;
    border: 2px solid #1d1d1b;
    border-radius: 15px;
    background-color: white;
    color: #1d1d1b;
}
.tytulModalContent{
    width: 50vw;
    height: 20vh;
    position: relative;
    justify-content: center;
    
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 10px;
}
.tytulModalContent input{
    width:40%;
    height: 7vh;
    border: none;
    background-color: transparent;
    border: 1px solid #1d1d1b;
    border-radius: 5px;
    color: #1d1d1b;
    font-family: "HankenGrotesk";
    font-size: 1vw;
    text-align: center;
}
.tytulModalContent input::placeholder{
    color: #1d1d1b;
    
}
.daneModal{
    margin-top: 80px;
    height: 40vh;
    width: 50%;
    
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;

}
.daneModal.show{
    opacity: 1;
    transition: opacity 0.3s ease;
}
.daneModalContent{
    height: 25vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    place-items: center;

}
.daneModalContent input, .daneModalContent select{
    width: 70%;
    height: 7vh;
    border: none;
    background-color: transparent;
    border: 1px solid #1d1d1b;
    border-radius: 5px;
    color: #1d1d1b;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    text-align: center;
}
.daneModalContent input::placeholder, .daneModalContent select::placeholder{
    color: #1d1d1b;
}
.daneModalContent select:focus{

  background-color: #f0f8ff;
  outline: none; /* remove default blue outline */
  color: black;
}
.daneModalText{
    height: 8vh;
    width: 100%;
    border: 2px solid #1d1d1b;
    border-radius: 15px;
    background-color: white;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
    position: relative;
    display: flex;
    color: #1d1d1b;
    font-family: "HankenGrotesk";
    font-size: 2vw;
    flex-direction: row;
    gap: 25px;
    letter-spacing: 2px;
    font-weight: 900;
}
.photosModalContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40vh;
    opacity: 0;
    width: 50%;
    margin-top: 80px;
   
}

.photosModalContainer.show {
    opacity: 1;
    transition: opacity 1s ease;
}
.photosModal{
    border: 2px solid #1d1d1b;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 50vw;
    height: 25vh;
    position: relative;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.photosModalText{
    
    border: 2px solid #1d1d1b;
    background-color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #1d1d1b;
    padding: 10px;
    width: 50vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 1vw;
    align-items: center;
    letter-spacing: 2px;
    font-family: 'HankenGrotesk';
    font-weight: 900;

}

.Photo1input{
  height: 100%;
  width: 100%;
  background-color: transparent;
  
  border: none;
  opacity: 0;
  cursor: pointer;
  z-index: 1000;
}
.addPhotoIcon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  
}
.Photo1{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.cenaModal{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50vw;
    height: 10vw;
    opacity: 0;
    place-items: center;
    

}
.cenaModal.show{
    opacity: 1;
    transition: opacity 1s ease;
}
.cenaModalText{
    width: 100%;
    height: 8vh;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    color: #1d1d1b;
    border: 2px solid #1d1d1b;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 1vw;
    justify-content: flex-start;
    letter-spacing: 2px;
    align-items: center;
}
.cenaModalContent{
    width: 100%;
    position: relative;
    justify-content: center;
    display: flex;
    height: 15vh;
    
    flex-direction: column;
    gap: 10px;
    place-items: center;
}
.cenaModalContent input{
    width: 30%;
    height: 7vh;
    border: none;
    background-color: transparent;
    border: 1px solid #1d1d1b;
    border-radius: 5px;
    color: #1d1d1b;
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    text-align: center;
}
.cenaModalContent input::placeholder{
    color: #1d1d1b;
}
.dodajOgłoszenie{
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 6vh;
    width: 10vw;
    background-color: #1d1d1b;
    
    font-family: "HankenGrotesk";
    font-size: 1.2vw;
    cursor: pointer;
    border: 2px solid #1d1d1b;
    color: white;
    font-weight: 900;
    transition: all 0.3s ease;
}
.dodajOgłoszenie:hover{
    background-color: transparent;
    color: black;
    
}
.dodajModal{
    position: relative;
    width: 50%;
    height: 10vh;
    
}