@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.OfertaAddContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgb(255, 255, 255);
 
  justify-content: center;
  
}
.wybierzOferteContainer{
    height: 35vh;
    flex-direction: column;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    

    
    
}
.wybierzOferteText{
    display: flex;
    color: #1d1d1b;
    font-size: 1.7vw;
    font-family: "HankenGrotesk";
    
    
}
.wybierzOferteButtons{
   
    align-self: center;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
    

}
.wybierzOferteButtons button{
    height: 15vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    justify-content: center;
    gap: 30px;
    color: #1d1d1b;
    background-color: transparent;
    border: 4px solid #1d1d1b;
    border-radius: 15px;
    font-family: "HankenGrotesk";
    font-size: 1vw;
    transition: all 0.3s ease;

}
.wybierzOferteButtons button:hover{
    scale: 1.1;
    background-color: white;
    color: black;
    cursor: pointer;
}
/* .goToNieruchomosci .MuiSvgIcon-root{
    color: red;
} */

.Photos{
height: 60%;
width: 40%;
display: grid;
gap: 0;
grid-template-columns: repeat(2,1fr );
grid-template-rows: repeat(2,1fr);
background-color: transparent;
border-radius: 20px;
position: absolute;
place-items: center;
right: 20px;
top: 20px;
}
.Photo1input{
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  opacity: 0;
  cursor: pointer;
  z-index: 1000;
}
.addPhotoIcon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}
.Photo1{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.Photo2{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.Photo3{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.Photo4{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.nazwacenaopis{
  position: relative;
  display: flex;
  border: 2px solid red;
  height: 100vh;
  width: 30vw;
  flex-direction: row;
  
}

.OfertaAddModal::placeholder{
    text-align: left;
    color: black;
    
}
.SubmitOferta{
  height: 6vh;
  width: 12vw;
  
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 40px;
  background-color: black;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-family: 'HankenGrotesk';
  font-weight: 800;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.SubmitOferta:hover{
  scale: 1.2;
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
.OfertyList{
  position: absolute;
  top: 35%;
  height: auto; 
  overflow: visible;
  width: 80vw;
  flex-wrap: wrap;
  gap: 20px;
  column-gap: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  align-self: center;
  align-items: center;
  
  
  
}
.OfertaItem{
  width: 20vw;
  height: 50vh;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.OfertaPhoto1{
  margin-top: 10px;
  border-radius: 10px;
  width: 95%;
  height: 50%;
  flex: 1;
}
.detailsContainer{
  width: 100%;
  display: flex;
  position: relative;
  flex: 1;
  
}

.nazwa1{
  position: absolute;
  top: 30px;
  left: 10px;
  font-family: "HankenGrotesk";
  font-size: 1.5vw;
  letter-spacing: 1.5px;
}
.cena1{
  position: absolute;
  top: 34px;
  right: 10px;
  font-family: "HankenGrotesk";
  font-size: 1.2vw;
  letter-spacing: 1.5px;
}
.kup{
  position: absolute;
  top: 40%;
  left: 10px;
  height: 5vh;
  width: 8vw;
  background-color: transparent;
  border: 1px solid white;
  color: rgb(255, 253, 253);
  font-family: 'HankenGrotesk';
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.kup:hover{
  background-color: white;
  color: black;
}

.szczegoly{
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "HankenGrotesk";
  cursor: pointer;
} 
.Wyszukiwarka{
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 80vw;
  
}
.kategoria{
  border: 3px solid black;
  width: 100%;
  height: 7vh;
  border-radius: 17px;
}

.kategoriaMainInfo{
  width: 50%;
  display: flex;
  height: 100%;
  border: 2px solid red;
  position: relative;
  flex-direction: column;
}
.houseInfo input{
  width: 100%;
    border-radius: 20px;
    height: 11%;
    border: none;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: 'HankenGrotesk';
    font-size: 1vw;
    color: black;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
