@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
    background-color: white;
}
.header{
  
  position: fixed;
  display: flex;
  top: 0px;
  
  height: 60px;
  width: 100%;
  background-color: white;
  z-index: 1000000;
}
.headerText {
  height: 5vh;
  width: fit-content;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  right: 10%;
  font-family: "HankenGrotesk";
  
  display: flex;
  gap: 50px;
  color: #1d1d1b;
  align-items: center;
}
.UserIcon{
  position: absolute;
  right: 10px;
  top: 5px;
  
  
}
.Logout{
  position: absolute;
  left: 50%;
  z-index: 1000;
}
.UserProfileButton{
  position: absolute;
  display: flex;
  right: 20px;
  height: 40px;
  width: 40px;
  top: 10px;
  border-radius: 10px ;
  border: 2px solid black;
  cursor: pointer;
}
.UserProfileImage{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.UserName{
  position: absolute;
  right: 70px;
  top: 20px;
  color: black;
  font-weight: 800;
  font-family: 'HankenGrotesk';
}
.LogoIcon{
  width: 15vw;
  height: fit-content;
  position: absolute ;
  left: -70px;
  top: -40px;
  
}

.ofertaDetailsContainer{
    overflow:visible;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #1d1d1b;
}
.photosContainer{
    
    position: relative;
    width: 70vw;
    margin-top: 170px;
    background-color: white;
    height: 70vh;
    display: flex;
    
}
.photosContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: 80%;
    object-position: bottom;
}
.photosContainerText{
    position: relative;
    display: flex;
    
    color: #1d1d1b ;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    font-family: "HankenGrotesk";
}
.tytulOfertaDetails{
    font-size: 2.5vw;
    font-weight: bold;
}
.cenaOfertaDetails{
    font-size: 2vw;
    
}
.descriptionContainer{
    margin-top: 150px;
    
    color: #1d1d1b ;
    height: 110vh;
    width: 60vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "HankenGrotesk";
}
.descriptionContainerImg{
    position: relative;
    width: 100%;
    height: 60vh;
    
    flex-direction: column;
    display: flex;
}
.descriptionContainerImg img{
    height: 100%;
    object-fit: cover;
    
    object-position: center;
}
.descriptionContainerText{
    position: relative;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: flex-start;
   
    flex-direction: column;
    display: flex;
    font-size: 1.2vw;
}
.descriptionContainerh1{
    margin-top: 50px;
}
.descriptionContainerTextContent{
    
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 1.2vw;
    font-weight: 500;
    height: 90%;
    width: 60%;
    font-family: "HankenGrotesk";
    
    color: #1d1d1b;
    padding: 10px;
}
.ofertaDetailsMetraz,
.ofertaDetailsLiczbaPokoi,
.ofertaDetailsPrzebieg,
.ofertaDetailsPojemnosc,
.ofertaDetailsPaliwo,
.ofertaDetailsMoc,
.ofertaDetailsRok,
.ofertaDetailsMaterial,
.ofertaDetailsProba,
.ofertaDetailsRozmiar,
.ofertaDetailsWaga
{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-bottom: 20px;
    
    border-bottom: 2px solid #1d1d1b;
}
.lokalizacjaOfertyDetailsContainer{
    margin-top: 150px;
    
    color: #1d1d1b;
    height: 160vh;
    width: 60vw;
    gap: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "HankenGrotesk";

}
.lokalizacjaContainerImg{
    position: relative;
    width: 100%;
    height: 45vh;
    
    flex-direction: column;
    display: flex;
    flex-direction: row;
}
.lokalizacjaContainerImg img{
    height: 100%;
    object-fit: contain;
    
    object-position: center;
}
.lokalizacjaContainerText{
    
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    font-size: 1vw;
    flex-direction: column;
}

.lokalizacjaContainerTextContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    
    padding: 20px;
}
.bizuteriaFoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: 80%;
    background-repeat: no-repeat;
    object-position: bottom;
    
}
.lokalizacjaPanstwo,
.lokalizacjaWojewodztwo,
.lokalizacjaMiasto {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-bottom: 20px;

    border-bottom: 2px solid #1d1d1b;
}
.lokalizacjaButtonContainer {
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.lokalizacjaButton {
    background-color: #1d1d1b;
    color: white;
    height: 6vh;
    width: 10vw;
    border: none;
    font-family: "HankenGrotesk";
    font-size: 1vw;
    cursor: pointer;
    border: 2px solid #1f1f1b;
    transition: all 0.3s ease;
}
.lokalizacjaButton:hover{
    background-color: #ffffff;
    color: black;
    transform: scale(1.05);
}
.kontaktOfertyDetails{
    
    height: 45vh;
    width: 80vw;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.profileMenu{
  position: absolute;
  top: 100px;
  right: 20px;
  height: 35vh;
  width: 15vw;
  z-index: 1000;
  opacity: 0;
}
.profileMenu.show{
  opacity: 1;
  transition: opacity 0.7s ease;
}
.kontaktOfertyDetailsImg{
    display: flex;
    position: relative;
    width: 40%;
    height: 100%;

    
}
.kontaktOfertyDetailsImg img{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -50px;
    
    object-fit: contain;
    object-position: center;
}
.kontaktOfertyDetailsOpisContainer{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    
    flex-direction: column;
}
.kontaktOfertyDetailsOpis{
    width: 100%;
    height: 15%;
    display: flex;
    position: relative;
   
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}
.kontaktOfertyDetailsOpisContent{
    padding: 20px;
    padding-right: 70px;
    font-size: 1vw;
    height: 85%;
    width: 100%;
    
}
.kontaktWithSellerContainer{
    position: relative;
    display: flex;
    width: 60vw;
    height: 40vh;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.kontaktWithSeller{
    border: 2px solid #1d1d1b;
    height: 30vh;
    width: 20vw;
    
}
.kontaktWithSellerImie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.kontaktWithSellerIcon{
    width: 100%;
    height: 7vh;
    position: relative;
    display: flex
    ;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.kontaktWithSellerEmailandPhone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 5px;
   
}
.kontaktWithSellerEmail, .kontaktWithSellerPhone{
    display: flex;
    width: 100%;
    height: 4vh;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    
    
}
.kontaktWithSellerButtonContainer{
    width: 100%;
    height:6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.kontaktWithSellerButton{
    height: 70%;
    background-color: #1d1d1b;
    border: 2px solid #1d1d1b;
    font-family: "HankenGrotesk";
    width: 30%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.kontaktWithSellerButton:hover{
    background-color: #ffffff;
    color: black;
    transform: scale(1.05);
}