@font-face {
  font-family: 'HankenGrotesk';
  src: url('/fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.Logout{
  position: absolute;
  left: 50%;
  z-index: 1000;
}
body {
  font-family: 'NeueMontreal', sans-serif;
}

.OfertyPageContainer{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    
}
.dodajOferte{
    position: absolute;
    right: 250px;
    border-radius: 20px;
    top: 50%;
    border:2px solid #1d1d1b;
    transform: translate(0, -50%);
    background-color: #1d1d1b;
    color: rgb(255, 255, 255);
    font-family: 'HankenGrotesk';
    font-weight: 800;
    font-size: 1rem;
    height: 4.5vh;
    width: 8%;
    transition: all 0.3s ease;
    cursor: pointer;
}
.dodajOferte:hover{
    background-color: transparent;
    color: rgb(0, 0, 0);
    
}
.headerOferty{
  position: fixed;
  display: flex;
  top: 0;
  
  height: 60px;
  width: 100%;
  background-color: white;
}
.header-logo{
  width: 15vw;
  height: fit-content;
  position: absolute ;
  left: -70px;
  top: -40px;
  cursor: pointer;
  
}
.UserIcon{
  position: absolute;
  right: 10px;
  top: 5px;
  
  
}
.UserProfileButtonOferty{
  position: absolute;
  display: flex;
  right: 20px;
  height: 40px;
  width: 40px;
  top: 10px;
  border-radius: 10px ;
  border: 2px solid black;
  cursor: pointer;
}
.UserProfileImageOferty{
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}


.Photos{
height: 60%;
width: 40%;
display: grid;
gap: 0;
grid-template-columns: repeat(2,1fr );
grid-template-rows: repeat(2,1fr);
background-color: transparent;
border-radius: 20px;
position: absolute;
place-items: center;
right: 20px;
top: 20px;
}
.Photo1input{
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  opacity: 0;
  cursor: pointer;
  z-index: 1000;
}
.addPhotoIcon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}
.Photo1{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.Photo2{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.Photo3{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.Photo4{
width: 70%;
height: 80%;
border: 4px solid rgb(0, 0, 0);
border-radius: 20px ;
position: relative;
}
.nazwacenaopis{
  position: relative;
  display: flex;
  
  height: 100vh;
  width: 30vw;
  flex-direction: row;
  
}

.OfertaAddModal::placeholder{
    text-align: left;
    color: black;
    
}
.SubmitOferta{
  height: 6vh;
  width: 12vw;
  
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 40px;
  background-color: black;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-family: 'HankenGrotesk';
  font-weight: 800;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.SubmitOferta:hover{
  scale: 1.2;
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
.OfertyListOferty {
 


  position: relative;       
  margin-top: 200px;             
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;          /* scroll only inside */
  width: 80vw;
  gap: 70px;
  align-items: center;
  padding: 10px 0;          /* avoid clipping */
}
.OfertyListOferty::-webkit-scrollbar {
  width: 6px;
}
.OfertyListOferty::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
.OfertyListOferty::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.OfertaItemOferty{
  position: relative;
  width: 100%;
  height: 40vh;
  
  border-top: 1px solid #1d1d1b;
  border-bottom: 1px solid #1d1d1b;
  color: #1d1d1b;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  
  display: flex;
  transition: all 0.3s ease;
  cursor: pointer;
}
.OfertaItemOferty:hover{
  transform: scale(1.02);
}
.imageContainerOfertyOferty{
  position: relative;
  left: 0px;
  height: 100%;
  width: 40%;
  
  display: flex;
}
.OfertaPhoto1Oferty{
  
  
  width: 100%;
  height: 100%;
  flex: 1;
}
.detailsContainer{
  width: 40%;
  display: flex;
  position: relative;
  height: 100%;
  

  
  
}
.sellerContainer{
  width: 20%;
  height: 100%;
 border-left:2px solid #1d1d1b;
  display: flex ;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
}
.sellerIconContainer{
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sellerImie{
 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sellerDetails{
  
  width: 100%;
  flex-direction: column;
  height: 20vh;
  gap: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: "HankenGrotesk";
} 
.sellerInfo{
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "HankenGrotesk";
}
.sellerDane{
  
  width: 100%;
  display: flex;
  margin-top: 20px;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "HankenGrotesk";
  
}
.sellerEmail{
  
  width: 100%;
  height: 3vh;
  justify-content: center;
  align-self: center;
  text-align: right;
  
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: "HankenGrotesk";
}
.sellerTelefon{
  
  width: 100%;
  height: 3vh;
  justify-content: center;
  align-self: center;
  text-align: right;
  display: flex;
  flex-direction: row;
  gap: 10px;
  letter-spacing: 1px;
  font-family: "HankenGrotesk";
}
.kontaktSellerButton{
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.sellerContactButton{
  height: 5vh;
  width: 8vw;
  border: 2px solid #1d1d1b;
  background-color: #1d1d1b;
  border-radius: 1px;
  font-family: "HankenGrotesk";
  font-size: 1vw;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sellerContactButton:hover{
  background-color: white;
  color: black;
}
.lokalizacjaContainer{
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  right: 20px;
  bottom: 0px;
  
  height: 15vh;
  width: 10vw;
  
  
  font-family: "HankenGrotesk";
}
.lokalizacjaContainer h1{
  font-size: 1.4vw;
}
.detailsUnderNazwa{
  height: 3vh;
  width: 17vw;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 70px;
  gap: 20px;
  left: 10px;
  
  font-family: "HankenGrotesk";
  
}
.nazwa1{
  position: absolute;
  top: 30px;
  left: 10px;
  font-family: "HankenGrotesk";
  font-size: 1.5vw;
  letter-spacing: 1.5px;
}
.cena1{
  position: absolute;
  top: 34px;
  right: 20px;
  font-family: "HankenGrotesk";
  font-size: 1.2vw;
  letter-spacing: 1.5px;
}
.kupOferty{
  position: absolute;
  bottom: 50px;
  left: 10px;
  height: 5vh;
  width: 8vw;
  background-color: #1d1d1b;
  border: 2px solid #1d1d1b;
  color: #ffffff;
  font-family: 'HankenGrotesk';
  
  font-size: 1rem;
  text-align: center;
  
  cursor: pointer;
  transition: all 0.3s ease;
}
.kup:hover{
  background-color: white;
  color: black;
}

.szczegolyOferty{
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 1vw;
  font-weight: 800;
  font-family: "HankenGrotesk";
  cursor: pointer;
} 
.WyszukiwarkaOferty{
  position: absolute;
  
  top: 10%;
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 73vw;
  
}
.kategoria{
  border: 3px solid black;
  width: 100%;
  height: 7vh;
  border-radius: 17px;
}
.mainInfo{
  display: flex;
  border: 2px solid green;
  width: 100%;
  height: 90%;
  gap: 20px;
  flex-direction: column;
  margin-top: 90px;
}
.OfertaAddModal input[class = 'nazwa'],
.OfertaAddModal input[class = 'cena'],
.OfertaAddModal input[class = 'opis'],
.OfertaAddModal input[class = 'lokalizacja']{
    width: 100%;
    border-radius: 20px;
    height: 11%;
    border: none;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: 'HankenGrotesk';
    font-size: 1vw;
    color: black;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

}
.houseInfo{
  border: 2px solid rgb(0, 255, 213);
  display: flex;
  width: 50%;
  gap: 20px;
  flex-direction: column;
  margin-top: 152px;
  

}
.kategoriaMainInfo{
  width: 50%;
  display: flex;
  height: 100%;
  
  position: relative;
  flex-direction: column;
}
.houseInfo input{
  width: 100%;
    border-radius: 20px;
    height: 11%;
    border: none;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: 'HankenGrotesk';
    font-size: 1vw;
    color: black;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}